@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {

  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;

  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0px;
  padding: 0px;

}


